.part_intermedio{
    background: #0a2f0a;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.herramientas{
    color: white;
}

.herramientas p{
   margin-left: 10%;
   margin-top: 8%;
   font-size: 14px;
}

.herramientas h2{
    font-weight: bold;
    font-size: 42px;
    margin-left: 9%;
    margin-right: 10%;
}

.herramientas h6{
    font-weight: initial;
    font-size: 22px;
    margin-left: 9%;
    margin-right: 15%;
    margin-top: 20px;
}

.button_negocio button{
    font-weight: bold;
    margin-left: 10%;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #347e55;
    color: white;
    font-size: 15px;
    border-radius: 8%;
    border: none;
    margin-bottom: 40px;
}

.button_negocio button:hover{
    background-color: #0a2f0a;
    border: 2px solid #347e55;
}

.img_tienda{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 10%;
}

.describir_marca h2{
    margin-top: 6%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}

.describir_marca p{
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
    margin-top: 8px;
}

.consultas{
    margin-top: 3.5%;
    text-align: center;
}

::placeholder{
    font-size: 1em;
}

.consultas input{
    padding: 7px 9% 7px 15px;
    border: 2px solid #2E8B57;
    border-radius: 7px;   
}

.consultas button{
    margin-left: 5px;
    font-weight: bold;
    background-color: #339966;
    border-color: #339966;
    color: white;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
}

.consultas button:hover{
    background-color: #004D40;
    border-color: #004D40;
}

.contenedor{
    padding-top: 5%; 
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contenedor_item{
    text-align: center;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.far, .fab{
    color: green;
    font-size: 40px;
    display: flex;
    margin-top: -25px;
    justify-content: center;
}

.text{
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

